<h1> Add Address Form</h1>

<p>Add address:</p>

<form action="/contacts/<%= @our_contacts.id() %>" method="post">

  <label for="home">Address:</label>
  <input id="home" name="home" type="text">
  <button type="submit">Add Bike</button>
</form>
