<h1> Add Contacts!</h1>

<p>Add a Contact Here:</p>

<form action="/contacts" method="post">
    <label for="name">Contact's name:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Add Contact</button>
</form>
