<h1> Add Phone Number Form</h1>

<p>Add phone number:</p>

<form action="/contacts/<%= @our_contacts.id() %>" method="post">

  <label for="number">Email:</label>
  <input id="number" name="number" type="text">
  <button type="submit">Add Email</button>
</form>
